global
    maxconn 65535
    log stdout format raw local0

defaults
    mode http
    timeout connect 10s
    timeout client  3600s
    timeout server  3600s
    option httplog

frontend main
    bind :8080 proto h2,http/1.1

    # Health check
    acl is_health path /health
    http-request return status 200 content-type "text/plain" string "OK" if is_health

    # Trojan ACLs
    acl path_trojan_ws path /saeka-tojirp
    acl path_trojan_hu path /saeka-tojirp-hu
    acl path_trojan_xh path /saeka-tojirp-xh
    acl path_trojan_grpc path /saeka-tojirp-grpc

    # VMess ACLs
    acl path_vmess_ws path /vmess-saeka
    acl path_vmess_hu path /vmess-saeka-hu
    acl path_vmess_xh path /vmess-saeka-xh
    acl path_vmess_grpc path /vmess-saeka-grpc

    # VLESS ACLs
    acl path_vless_ws path /vless-saeka
    acl path_vless_hu path /vless-saeka-hu
    acl path_vless_xh path /vless-saeka-xh
    acl path_vless_grpc path /vless-saeka-grpc

    # Shadowsocks ACLs
    acl path_ss_ws path /ss-saeka
    acl path_ss_hu path /ss-saeka-hu
    acl path_ss_xh path /ss-saeka-xh
    acl path_ss_grpc path /ss-saeka-grpc

    # Backend Routing
    use_backend bk_10000 if path_trojan_ws
    use_backend bk_10001 if path_trojan_hu
    use_backend bk_10002 if path_trojan_xh
    use_backend bk_10012_grpc if path_trojan_grpc

    use_backend bk_10003 if path_vmess_ws
    use_backend bk_10004 if path_vmess_hu
    use_backend bk_10005 if path_vmess_xh
    use_backend bk_10013_grpc if path_vmess_grpc

    use_backend bk_10006 if path_vless_ws
    use_backend bk_10007 if path_vless_hu
    use_backend bk_10008 if path_vless_xh
    use_backend bk_10014_grpc if path_vless_grpc

    use_backend bk_10009 if path_ss_ws
    use_backend bk_10010 if path_ss_hu
    use_backend bk_10011 if path_ss_xh
    use_backend bk_10015_grpc if path_ss_grpc

# Backends (HTTP/1.1 & WebSocket)
backend bk_10000
    server s1 127.0.0.1:10000
backend bk_10001
    server s1 127.0.0.1:10001
backend bk_10002
    server s1 127.0.0.1:10002
backend bk_10003
    server s1 127.0.0.1:10003
backend bk_10004
    server s1 127.0.0.1:10004
backend bk_10005
    server s1 127.0.0.1:10005
backend bk_10006
    server s1 127.0.0.1:10006
backend bk_10007
    server s1 127.0.0.1:10007
backend bk_10008
    server s1 127.0.0.1:10008
backend bk_10009
    server s1 127.0.0.1:10009
backend bk_10010
    server s1 127.0.0.1:10010
backend bk_10011
    server s1 127.0.0.1:10011

# Backends (gRPC - proto h2)
backend bk_10012_grpc
    server s1 127.0.0.1:10012 proto h2
backend bk_10013_grpc
    server s1 127.0.0.1:10013 proto h2
backend bk_10014_grpc
    server s1 127.0.0.1:10014 proto h2
backend bk_10015_grpc
    server s1 127.0.0.1:10015 proto h2
